// Define variables for your color scheme

// For example:
$red: #ff4a4d;
$blue: #5465FF;
$dark-blue: #3347ff;
$yellow: #ffe05d;
$orange: #E67E22;
$green: #54ec6d;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ffffff;
