// Specific CSS for your home-page
.banner {
  background-color: white;
  height: 300px;
  text-padding: 200px;
}

.container {
  padding: 60px 20px;
}

.hero-image {
  background-image: url(group_in_the_water.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  padding: 40px;

}

.social {
  margin-left: 5px;
  margin-right: 20px;
}

.footer-text {
  margin-right: 50px;
  margin-top: 20px;
}
