<div class="footer">
  <p class="footer-text">Contact Us</p>
  <%= image_tag "facebook.png", class: "facebook social avatar" %>
  <%= image_tag "instagram.png", class: "instagram social avatar" %>
  <%= image_tag "email.png", class: "email social avatar" %>
</div>
