<div class="footer">
  <%= link_to root_path do %>
    <p class="footer-text">Contact Us</p>
  <% end %>
  <%= link_to root_path do %>
    <i class="fab fa-facebook-square"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fab fa-instagram"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-envelope"></i>
  <% end %>
</div>
