  <div class="container">
    <div class="row">
      <div class="col-12 banner">
        <h1>Surfplace, surf at your fingertips.</h1>
        <h4>From the confort of your home, discover the best deals on surf lessons across the world!</h4>
        <div class="col-12 banner-buttons">
          <%= link_to "Start Here!", new_user_registration_path, class: "blue-button large-button space-between" %>
          <%= link_to "See all lessons", lessons_path, class: "blue-button large-button" %>
        </div> 
      </div>
    </div>
  </div>
    <div class="hero-image"></div>
