.blue-button {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: $blue 3px solid;
}

.large-button {
  padding: 5px 100px 5px 100px;
}

.blue-button:hover {
  text-decoration: none;
  background-color: white;
  color: $blue;
}

.btn-link {
  display: inline-block;
  color: $blue;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border: 3px solid white;
}

.btn-link:hover {
  color: $blue;
  text-decoration: none;
  border-bottom: 3px solid $blue;
}