div {
  border: 1px solid black;
}

.footer {
  background-color: $yellow;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $blue;
}

.footer i {
  margin-right: 40px;
  font-size: 36px;
}

.footer p {
  margin-right: 40px;
}