.cont-xl {
  background-color: white;
  background-size: cover;
}

// *** LESSON HEADER ***
.lesson-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// MENU
.lessons-menu {
  display: flex;
  justify-content: flex-end;
}

.lesson-header .lessons-menu a {
  margin: 0px 8px;
}

@media (max-width: 991px) {
  .lessons-menu {
    order: 1;
  }
}

// *** BODY ***
.show-info {
  margin-top: 20px;
}
// Description
.lesson-show-description h3 {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: bold;
}

// Teacher
.lesson-show-teacher {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-between;
}

.lesson-show-teacher .avatar-xl {
  object-fit: scale-down;
}

.lesson-show-teacher div {
  padding: 10px 20px;
}

// *** BOOCKING CARD
.reservation-summary {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 15px;
  margin-top: 40px;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.reservation-summary h2 {
  color: rgb(53, 53, 53);
  margin: 20px 15px;
  font-size: 18px;
  font-weight: 400;
}



//*** MAP ***
//TODO: Center map , How i can center content?
.map{
  background-color: red;
  padding: 100px;
  margin-top: 80px;
}